@import "mixins.less";

@borderColor: #EDEDED;

.admin-report-container {
    .clearfix;
    margin-top: 10px;

    .dokan-reports-sidebar {
        width: 20%;
        float: left;
        margin-right: 20px;
    }

    ul.chart-legend {
        background: #fff;
        list-style: none;
        margin: 12px 0 0 0;
        padding: 0;
        border: 1px solid @borderColor;

        li {
            color: #aaa;
            padding: 13px 18px;
            margin: 0;
            border-bottom: 1px solid @borderColor;
            font-weight: normal;
            font-size: 13px;

            strong {
                display: block;
                color: #464646;
                font-size: 24px;
                line-height: 30px;
                font-weight: normal;
            }
        }
    }

    .chart-container {
        float: left;
        width: 75%;
    }

    .chart-placeholder.main {
        width: 100%;
        height: 450px;
    }
}

.chart-tooltip {
    position: absolute;
    display: none;
    line-height: 1;
    background: #333;
    color: #fff;
    padding: 3px 5px;
    font-size: 11px;
    border-radius: 3px;
}