/* jQuery UI Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;

    .ui-menu {
        margin-top: -3px;
    }

    .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid @borderColor;
        border-left: 1px solid @borderColor;
        border-right: 1px solid @borderColor;

        a {
            text-decoration:none;
            display:block;
            padding:.2em .4em;
            line-height:1.5;
            zoom:1;
            color: #333;
            cursor: pointer;
        }

        a.ui-state-hover,
        a.ui-state-active {
            margin: -1px;
        }
    }
}

.ui-helper-hidden-accessible { display: none; }

/* Bootstrap Override
----------------------------------*/
.alert {
    padding: 5px 15px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    background: #fff;
    border: none;
    .border-radius(0);
    color: #333;
}

.alert-success {
    border-left: 4px solid #7ad03a;

    strong {
        color: #468847;
    }
}

.alert-danger {
    border-left: 4px solid #b94a48;

    strong {
        color: #468847;
    }
}

/* WooCommerce override
-----------------------------------*/

.woocommerce,
.woocommerce-page {
    ul#shipping_method {
        text-align: left;

        li {
            text-indent: 0 !important;
        }
    }

    .woocommerce-message:before,
    .woocommerce-error:before,
    .woocommerce-info:before {
        height: 2.5em;
    }

    ul.products li.product {
        h3 {
            background: #585858;
            width: 100%;
            padding: 5px;
            color: #fff;
        }

        .item-bar {
            background: white;
            display:block;
            width: 100%;
            padding: 5px 0px;
            border-bottom: 1px solid #eee;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
        }

        .item-price {
            text-align: center;
            padding: 0px 5px;
            font-weight: bold;
            color: #8f8f8f;
            margin-left: 10px;
        }

        .item-button {
            float: right;
        }

        .item-button a {
            text-align: center;
            padding: 0 8px;
            border-radius: 2px;
            border-color: #d3d3d3;
            display: inline-block;
            margin-right: 5px;

            &.added_to_cart {
                position: absolute;
                right: 0;
                background: #269C10;
                color: #fff;
            }
        }

        .item-button a span {
            font-size: 16px;
        }

        a img {
            .box-shadow-norm(none);
            margin: 0;
        }
    }
}